<br><br>
<div id="recipeDiv" class="container">
  <div class="list-group">
    <div *ngFor="let r of response; index as i">
      <div class="d-flex w-100 justify-content-between">
        <a href={{r.recipeJSON.source_url}}>{{r.recipeJSON.title}}</a>
      </div>
      <div class="grid-item recipe-image">
        <img src={{r.recipeJSON.image_url}} />
      </div>
      <div class="d-flex w-100 justify-content-between">
        <a href={{r.recipeJSON.publisher_url}}>Publisher: {{r.recipeJSON.publisher}}</a>
      </div>
      <div class="grid-item save">
        <button class="btn btn-primary" (click)="deleteRecipe(r.recipeId)">Delete</button>
      </div>
    </div>
  </div>
</div>

