



<section class="search-results main-content">
    <form class="form-inline">
      <label class="sr-only" for="inlineFormInput">Ingredients</label>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Beef, Broccoli">
      <button type="submit" class="btn btn-primary" (click)="showRecipe()">Search</button>
    </form>
  
    <div class="grid-container" *ngFor="let r of response; index as i">
      <div class="grid-item index">{{i+1}}.</div>
      <div class="grid-item recipe-title">
        <a href={{r.source_url}}>{{r.title}}</a>
      </div>
      <div class="grid-item recipe-publisher">
        <a href={{r.publisher_url}}>-{{r.publisher}}</a>
      </div>
      <div class="grid-item recipe-image">
        <img src={{r.image_url}} />
      </div>
  
    </div>
  </section>