<section class="search-results main-content">
  <div class="container">
    <form class="form-inline">
      <label class="sr-only" for="inlineFormInput">Ingredients</label>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Beef, Broccoli">
      <button type="submit" class="btn btn-primary" (click)="showRecipe()">Search</button>
    </form>
  </div>
  <br>
  <div id="recipeDiv" class="container">
    <div class="list-group">
      <div *ngFor="let r of response; index as i">
        <a href="{{r.source_url}}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{r.title}}</h5>
          </div>
          <p class="mb-1"> <img src={{r.image_url}} /> </p>
        </a>
      </div>
    </div>
  </div>
</section>