/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:600');
html {
  cursor: url("assets/gordon75.png"), auto;
}

.main-content {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2em;
    font-weight: 100;
}
