@import '../app.component.css';
.search-results {
  font-size: 1.3em;
  display: grid;
}

.save a {
  letter-width: -2px;
  font-family: arial, sans-serif;
  padding:10px 5px;
  border-radius: 25px;
  font-size: 0.6em; 
  text-decoration: none;
  background-color: #eaa;
}
.grid-container-header {
  display: grid;
  grid-template-areas: "index-header title-header publisher-header image-header save-header";
  grid-column-gap: 0px;
}
.grid-container {
  display: grid;
  grid-template-areas: "index title publisher image save";
  background-color: #efffff;
  border-radius: 8px;
}

.grid-header {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.3em;
}
.grid-item { 
  display: flex;
  flex: 1;
  justify-content: center;
  width: 240px;
  padding: 10px;
  text-align:center;
  align-items: center;
  grid-column-gap: 0;

}
#index-header {
  grid-area: index-header;
  width: 55px; 
}
#recipe-image-header {
  grid-area: image-header;
  width: 200px;
}

#recipe-title-header {
  grid-area: title-header;
  width: 300px;
}
#recipe-publisher-header {
  grid-area: publisher-header;
}
#save-header {
  grid-area:save-header;
  width: 105px;
}
.index {
  width: 55px;
  grid-area: index;
  font-weight: bold;
  font-size: 1.4em;
}
.recipe-title {
  font-weight: 400;
  grid-area: title;
  width: 300px;
}
.recipe-publisher {
  font-weight: 300;
  grid-area: publisher;
}
.recipe-image {
  grid-area: image;
  width: 200px;
}
.grid-item img {
  width:150px;
  border-radius: 25px;
}

.save{
  width: 105px; 
  grid-area:save;
}

a {
  color: #000;
}

