<!--
  /*
  count: Number of recipes in result (Max 30)
  recipes: List of Recipe Parameters ->
  image_url: URL of the image
  source_url: Original Url of the recipe on the publisher's site
  f2f_url: Url of the recipe on Food2Fork.com
  title: Title of the recipe
  publisher: Name of the Publisher
  publisher_url: Base url of the publisher
  social_rank: The Social Ranking of the Recipe (As determined by our Ranking Algorithm)
  page: The page number that is being returned (To keep track of concurrent requests)
  f2f_url: "http://food2fork.com/view/35382"
  image_url: "http://static.food2fork.com/Jalapeno2BPopper2BGrilled2BCheese2BSandwich2B12B500fd186186.jpg"
  publisher: "Closet Cooking"
  publisher_url: "http://closetcooking.com"
  recipe_id: "35382"
  social_rank: 100
  source_url: "http://www.closetcooking.com/2011/04/jalapeno-popper-grilled-cheese-sandwich.html"
  title: "Jalapeno Popper Grilled Cheese Sandwich"

  */

-->
<br><br>
<section class="search-results main-content">
  <div class="container">
    <form class="form-inline">
      <label class="sr-only" for="inlineFormInput">Ingredients</label>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Beef, Broccoli">
      <button type="submit" class="btn btn-primary" (click)="showRecipe()">Search</button>
    </form>
  </div>
  <br>
  <div id="recipeDiv" class="container">
    <div class="list-group">
      <div *ngFor="let r of response; index as i">
        <div class="d-flex w-100 justify-content-between">
          <a href={{r.source_url}}>{{r.title}}</a>
        </div>
        <div class="grid-item recipe-image">
          <img src={{r.image_url}} />
        </div>
        <div class="d-flex w-100 justify-content-between">
          <a href={{r.publisher_url}}>Publisher: {{r.publisher}}</a>
        </div>
        <div class="grid-item save">
          <button class="btn btn-primary" (click)="saveRecipe(r)">Save</button>
        </div>
      </div>
    </div>
  </div>
  </section>